<!-- Template d'en-tête pour les fichiers de cours - @author Pierre HUBERT -->
<p style="margin-bottom: 0cm; line-height: 100%; font-family: calibri;" align="right"><font style="font-size: 10pt" size="2">#CHAP_NUMBER#</font></p>
<p style="margin-bottom: 0cm; line-height: 100%; font-family: calibri;" align="center"><font style="font-size: 16pt" size="4">#CHAP_TITLE#</font></p>
<p style="margin-bottom: 0cm; line-height: 100%" align="center"> <br> </p>
<p style="margin-bottom: 0cm; line-height: 100%; font-family: calibri; text-align: justify;" align="justify"><font style="font-size: 14pt" size="3">Contenu</font></p>