<!-- Template de tableau type WORD - @author Pierre HUBERT -->
<table cellpadding="2" cellspacing="0">
	<tr valign="top">
		<td width="186" style="border-top: 1px solid #bdd6ee; border-bottom: 1.50pt solid #9cc2e5; border-left: 1px solid #bdd6ee; border-right: 1px solid #bdd6ee; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.2cm; padding-right: 0.19cm font-size: 12pt">&nbsp;
		</td>
		<td width="186" style="border-top: 1px solid #bdd6ee; border-bottom: 1.50pt solid #9cc2e5; border-left: 1px solid #bdd6ee; border-right: 1px solid #bdd6ee; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.2cm; padding-right: 0.19cm font-size: 12pt">&nbsp;
		</td>
		<td width="186" style="border-top: 1px solid #bdd6ee; border-bottom: 1.50pt solid #9cc2e5; border-left: 1px solid #bdd6ee; border-right: 1px solid #bdd6ee; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.2cm; padding-right: 0.19cm font-size: 12pt">&nbsp;
		</td>
	</tr>
	<tr valign="top">
		<td width="186" style="border: 1px solid #bdd6ee; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.2cm; padding-right: 0.19cm font-size: 12pt">&nbsp;
		</td>
		<td width="187" style="border: 1px solid #bdd6ee; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.2cm; padding-right: 0.19cm font-size: 12pt">&nbsp;
		</td>
		<td width="186" style="border: 1px solid #bdd6ee; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.2cm; padding-right: 0.19cm font-size: 12pt">&nbsp;
		</td>
	</tr>
	<tr valign="top">
		<td width="186" style="border: 1px solid #bdd6ee; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.2cm; padding-right: 0.19cm font-size: 12pt">&nbsp;
		</td>
		<td width="187" style="border: 1px solid #bdd6ee; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.2cm; padding-right: 0.19cm font-size: 12pt">&nbsp;
		</td>
		<td width="186" style="border: 1px solid #bdd6ee; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.2cm; padding-right: 0.19cm font-size: 12pt">&nbsp;
		</td>
	</tr>
</table>